.simplebox-modal {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  height: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(30, 30, 30, 0.87);
}

.simplebox-content {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
} 

.simplebox-img {
  max-width: 75vw;
  max-height: 75vh;
}

.simplebox-icon {
  display: inline-block;
  margin: 0 0.2em;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  font-size: 3em;
  color: #858585;
  stroke: currentColor;
  fill: currentColor;
  transition: all 0.1s cubic-bezier(0.07, 0.54, 0.6, 1.01);
}

.simplebox-nav-btn {
  display: inline-flex;
  position: absolute;
  cursor: pointer;
}

.simplebox-next {
  right: 0;
}

.simplebox-back {
  left: 0;
}

.simplebox-nav-btn.simplebox-disable {
  cursor: default;
}

.simplebox-nav-btn.simplebox-disable:hover .simplebox-icon {
  color: #858585;
}

.simplebox-nav-btn:hover .simplebox-icon {
  color: #E0E0E0;
}

/**
 *  Loader
 */
.simplebox-loader,
.simplebox-loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.simplebox-loader {
  font-size: 6px;
  position: absolute;
  border-top: 1.1em solid rgba(0, 0, 0, 0.2);
  border-right: 1.1em solid rgba(0, 0, 0, 0.2);
  border-bottom: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #000000;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: simplebox-load 1.1s infinite linear;
  animation: simplebox-load 1.1s infinite linear;
  z-index: 0;
}
@-webkit-keyframes simplebox-load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes simplebox-load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
